<!doctype html>
<html>
    <link rel="stylesheet" href="style.css"> 
<body>
    <div class="design-5">
        <div class="l-constrained-4 group">
            <img class="rectangle-15" src="images/rectangle_2.jpg" alt="">
            <div class="col">
                <div class="text-9 group">
                    <div class="col-4">
                        <p class="body-text-32">About</p>
                        <p class="paragraph-6">purelite is owned and operated by Purelite Inc., a liquor company that offers the best pure beer in the market today!<br><span class="text-style-3">&nbsp;</span><br>Any questions? Our email address is ask@purelite.com<br><span class="text-style-3">&nbsp;</span><br>Drink Responsibly<br><span class="text-style-3">&nbsp;</span><br>Credits to pureliteTM</p>
                    </div>
                    <div class="col-12">
                        <p class="body-text-33">Info</p>
                        <p class="paragraph-7"><a href="#">Search<br>About Us<br>Frequently Asked Questions<br>Careers<br>Terms and Conditions<br>Privacy Policy<br>Returns and Refunds Policy<br>Shop Our Instagram</a></p>
                    </div>
                    <div class="col-13">
                        <div class="title-16">
                            <img class="title-17" src="images/title_4.png" alt="pure lite" width="403" height="35" title="pure lite">
                            <img class="title-18" src="images/title_3.png" alt="pure lite" width="403" height="36" title="pure lite">
                        </div>
                        <div class="title-19">
                            <img class="title-20" src="images/title_2.png" alt="pure lite" width="397" height="34" title="pure lite">
                            <img class="title-21" src="images/title.png" alt="pure lite" width="402" height="37" title="pure lite">
                        </div>
                    </div>
                </div>
                <img class="rectangle-16" src="images/rectangle_3.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html> 