<!doctype html>
<html>
<head>
    <title>Your site's title should be here</title>
    <meta charset="UTF-8">
    <meta name="description" content="Your site's description should be here">
    <meta name="keywords" content="Your site's keywords should be here">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="style.css"> 
    <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]--> 
    <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
        }
    </style>
  <![endif]--> 
    <!--[if lt IE 9]> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> 
  <![endif]--> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,latin,latin-ext,math,symbols,vietnamese">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Michroma:regular&amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,math,symbols,vietnamese">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/match-height.js"></script> 
    <script>
		$(function () {
			$('.match-height-bootstrap-row > * > *').matchHeight();
			$('.match-height > *').matchHeight();
		})
	</script>
</head>
<body>
    <!-- Including header via direct HTML include instead of Thymeleaf -->
    <div th:include="header"></div>
    
    <div class="background">
      <div class="group-1">
        <div class="design">
          <div class="row-5 group">
            <img class="rectangle" src="images/rectangle_23.png" alt="">
            <img class="shapes" src="images/shapes.png" alt="" width="45" height="53">
          </div>
          <img class="rectangle-2" src="images/rectangle_22.png" alt="">
          <img class="rectangle-3" src="images/rectangle_21.png" alt="">
        </div>
        <div class="image">
          <div class="row-6 group">
            <img src="images/place_your_image_here_dou_15.png" alt="" width="400" height="265">
            <img src="images/place_your_image_here_dou_14.png" alt="" width="400" height="265">
            <img src="images/place_your_image_here_dou_13.png" alt="" width="400" height="265">
          </div>
          <div class="place-your-image-here-double-click-to-edit-4"></div>
        </div>
        
          <div class="row-10 group">
            <div class="col-14">
              <div class="title">
                <img class="title-2" src="images/title_15.png" alt="pure lite" width="522" height="45" title="pure lite">
                <img class="title-3" src="images/title_14.png" alt="pure lite" width="521" height="48" title="pure lite">
              </div>
              <div class="title-4">
                <img class="title-5" src="images/title_13.png" alt="pure lite" width="514" height="44" title="pure lite">
                <img class="title-6" src="images/title_12.png" alt="pure lite" width="520" height="49" title="pure lite">
              </div>
              <p class="paragraph">Pure Lite is a refreshing beverage with 7% alcohol. Every bottle contains the pure taste or beer you crave for.<br><strong class="fw900">Drink Responsibly.</strong></p>
            </div>
            <img class="body-text" src="images/body_text_32.png" alt="make it new, make it pure" width="55" height="171" title="make it new, make it pure">
            <p class="body-text-2">7* strong and<br>pure<br>dark beer</p>
          </div>
          <p class="body-text-3">need a drink?</p>
          <div class="button">
            Go To Store
            </div>
         
      <div class="l-constrained">
        <div class="group-2">
          <div class="design-2">
            <img class="rectangle-4" src="images/rectangle_18.jpg" alt="">
            <img class="rectangle-5" src="images/rectangle_17.jpg" alt="">
          </div>
          <div class="images group">
            <img class="place-your-image-here-double-click-to-edit-5" src="images/place_your_image_here_dou_11.jpg" alt="" width="247" height="601">
            <img class="place-your-image-here-double-click-to-edit-6" src="images/place_your_image_here_dou_10.jpg" alt="" width="387" height="601">
          </div>
          <div class="text-3 group">
            <div class="row-7 group">
              <p class="price">$4.60</p>
              <div class="quantity group">
                <div class="rectangle-holder">
                  +
                </div>
                <p class="amount">1</p>
                <div class="rectangle-holder-2">
                  -
                </div>
              </div>
            </div>
            <p class="paragraph-2">Massive malt meets big hops in this classic flavor for maximum effect. Several North American hops and large British malts create powerful tropical fruit aromas up front, followed by a cleansing bitter finish. This classic flavor is considered a big guy drink, yet it's simple to handle thanks to a good dose of dry hopping.</p>
            <div class="row-4 group">
              <div class="product-name group">
                <p class="body-text-5">classic purelite<br>dark beer</p>
                <img class="stars" src="images/stars_10.png" alt="" width="181" height="26">
                <p class="body-text-4">109 reviews</p>
              </div>
              <div class="button-3">
                Add To Cart
              </div>
                </div>
            </div>
        </div>
        <div class="group-3">
          <div class="design-3">
            <img class="rectangle-6" src="images/rectangle_15.jpg" alt="">
            <img class="rectangle-7" src="images/rectangle_16.jpg" alt="">
            <div class="images-2 group">
              <img src="images/place_your_image_here_dou_9.jpg" alt="" width="288" height="389">
              <img src="images/place_your_image_here_dou_8.jpg" alt="" width="289" height="389">
              <img src="images/place_your_image_here_dou_7.jpg" alt="" width="288" height="389">
            </div>
          </div>
          <div class="text-4">
            <p class="title-7">frequently bought</p>
            <div class="row-3 match-height group">
              <div class="product-name-2">
                <p class="body-text-6">lemon<br>purelite<br>beer</p>
                <img class="stars-2" src="images/stars_9.png" alt="" width="182" height="27">
                <p class="body-text-7">201 reviews</p>
              </div>
              <div class="product-name-3">
                <p class="body-text-8">apple<br>purelite<br>beer</p>
                <img class="stars-3" src="images/stars_8.png" alt="" width="182" height="27">
                <p class="body-text-9">180 reviews</p>
              </div>
              <div class="product-name-4">
                <p class="body-text-10">mint<br>purelite<br>beer</p>
                <img class="stars-4" src="images/stars_7.png" alt="" width="182" height="27">
                <p class="body-text-11">73 reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="group-4">
        <div class="images-3"></div>
        <div class="text-5">
          <p class="body-text-12"><a href="#">purelite biggest store sale yet</a></p>
          <p class="body-text-13">up to<br>80<span class="text-style-2">%</span> off</p>
          <div class="row-2 match-height group">
            <div class="button-5">
              Crazy
              <br>Deals
            </div>
            <div class="button-7">
              Free Gifts
              <br>&amp; Bundles
            </div>
            <div class="button-9">
              Nothing
              <br>Above $100
            </div>
                        </div>
                    </div>
                </div>
      <div class="l-constrained-2">
        <img class="rectangle-8" src="images/rectangle_14.jpg" alt="">
        <div class="row-11 group">
          <div class="col-15">
            <div class="images-4 group">
              <div class="col-5">
                <img class="place-your-image-here-double-click-to-edit-10" src="images/place_your_image_here_dou_5.jpg" alt="" width="315" height="200">
                <img class="place-your-image-here-double-click-to-edit-11" src="images/place_your_image_here_dou_4.jpg" alt="" width="315" height="200">
                        </div>
              <div class="col-7">
                <div class="product-name-5">
                  <p class="body-text-14">lemon<br>purelite<br>beer</p>
                  <img class="stars-5" src="images/stars_6.png" alt="" width="182" height="27">
                  <p class="body-text-15">201 reviews</p>
                    </div>
                <div class="product-name-6">
                  <p class="body-text-16">apple<br>purelite<br>beer</p>
                  <img class="stars-6" src="images/stars_5.png" alt="" width="182" height="27">
                  <p class="body-text-17">201 reviews</p>
                </div>
              </div>
              <div class="col-6">
                <img class="place-your-image-here-double-click-to-edit-12" src="images/place_your_image_here_dou_3.jpg" alt="" width="315" height="200">
                <img class="place-your-image-here-double-click-to-edit-13" src="images/place_your_image_here_dou_2.jpg" alt="" width="315" height="200">
              </div>
            </div>
            <img class="rectangle-9" src="images/rectangle_13.jpg" alt="">
          </div>
          <div class="col-8">
            <div class="product-name-7">
              <p class="body-text-18">mint<br>purelite<br>beer</p>
              <img class="stars-7" src="images/stars_4.png" alt="" width="182" height="27">
              <p class="body-text-19">201 reviews</p>
            </div>
            <div class="product-name-8">
              <p class="body-text-20">butter<br>purelite<br>beer</p>
              <img class="stars-8" src="images/stars_3.png" alt="" width="182" height="27">
              <p class="body-text-21">201 reviews</p>
                        </div>
                    </div>
                </div>
            </div>
      <div class="image-2">
        <div class="text-6">
          <div class="title-8">
            <img class="title-9" src="images/title_10.png" alt="pure lite" width="521" height="45" title="pure lite">
            <img class="title-10" src="images/title_9.png" alt="pure lite" width="520" height="48" title="pure lite">
          </div>
          <div class="title-11">
            <img class="title-12" src="images/title_8.png" alt="pure lite" width="513" height="44" title="pure lite">
            <img class="title-13" src="images/title_7.png" alt="pure lite" width="520" height="49" title="pure lite">
          </div>
          <div class="body-text-22">
            new
            <br>beer
          </div>
          <p class="paragraph-3">Massive malt meets big hops in this classic flavor for maximum effect. Several North American hops and large British malts create powerful tropical fruit aromas up front, followed by a cleansing bitter finish. This classic flavor is considered a big guy drink, yet it's simple to handle thanks to a good dose of dry hopping.</p>
        </div>
                        </div>
      <div class="l-constrained-3">
        <div class="row group">
          <img class="rectangle-10" src="images/rectangle_12.jpg" alt="">
          <div class="text-7">
            <p class="title-14">customer reviews</p>
            <div class="customer-review">
              <div class="wrapper-8 group">
                <p class="body-text-25">Amelia Watson</p>
                <img class="stars-9" src="images/stars.png" alt="" width="182" height="27">
                <p class="body-text-24">08/01/2021</p>
                    </div>
              <p class="paragraph-4">One of the best tasted beer I've ever had. the best beer available in the here, in my opinion. I have drank many award winning beers and my favorite brew is purelite.</p>
                </div>
            <div class="line"></div>
            <div class="customer-review-2">
              <div class="wrapper-7 group">
                <p class="body-text-27">Kiara Morisson</p>
                <img class="stars-10" src="images/stars.png" alt="" width="181" height="27">
                <p class="body-text-26">08/01/2021</p>
                        </div>
              <p class="paragraph-5">One of the best tasted beer I've ever had. the best beer available in the here, in my opinion. I have drank many award winning beers and my favorite brew is purelite.</p>
                    </div>
                </div>
          <img class="rectangle-11" src="images/rectangle_11.jpg" alt="">
        </div>
        <img class="rectangle-12" src="images/rectangle_10.jpg" alt="">
        <div class="group-8">
          <div class="design-4">
            <img class="rectangle-13" src="images/rectangle_4.jpg" alt="">
            <img class="rectangle-14" src="images/rectangle_5.jpg" alt="">
                        </div>
          <div class="text-8">
            <p class="title-15">newsletter</p>
            <div class="rectangle-holder-3">
              <div class="body-text-28">
                <p>type your name here...</p>
                    </div>
            </div>
            <div class="rectangle-holder-4">
              <div class="body-text-29">
                <p>type your email here...</p>
                </div>
            </div>
            <div class="rectangle-holder-5">
              <div class="body-text-30">
                <p>type your message here...</p>
            </div>
        </div>
            <div class="rectangle-holder-6">
              <div class="body-text-31">
                <p>submit information</p>
              </div>
                </div>
            </div>
        </div>
      </div>
      <div class="design-5">
        <div class="l-constrained-4 group">
          <img class="rectangle-15" src="images/rectangle_2.jpg" alt="">
          <div class="col">
            <div class="text-9 group">
              <div class="col-4">
                <p class="body-text-32">About</p>
                <p class="paragraph-6">purelite is owned and operated by Purelite Inc., a liquor company that offers the best pure beer in the market today!<br><span class="text-style-3">&nbsp;</span><br>Any questions? Our email address is ask@purelite.com<br><span class="text-style-3">&nbsp;</span><br>Drink Responsibly<br><span class="text-style-3">&nbsp;</span><br>Credits to pureliteTM</p>
              </div>
              <div class="col-12">
                <p class="body-text-33">Info</p>
                <p class="paragraph-7"><a href="#">Search<br>About Us<br>Frequently Asked Questions<br>Careers<br>Terms and Conditions<br>Privacy Policy<br>Returns and Refunds Policy<br>Shop Our Instagram</a></p>
              </div>
              <div class="col-13">
                <div class="title-16">
                  <img class="title-17" src="images/title_4.png" alt="pure lite" width="403" height="35" title="pure lite">
                  <img class="title-18" src="images/title_3.png" alt="pure lite" width="403" height="36" title="pure lite">
                </div>
                <div class="title-19">
                  <img class="title-20" src="images/title_2.png" alt="pure lite" width="397" height="34" title="pure lite">
                  <img class="title-21" src="images/title.png" alt="pure lite" width="402" height="37" title="pure lite">
                </div>
                    </div>
                </div>
            <img class="rectangle-16" src="images/rectangle_3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer inclusion -->
    <div th:replace="footer :: body"></div>
</body>
</html>